version: '3.5'

services:
  # Basic - viewer, image server and a browsing interface
  basic:
    image: viewer
    container_name: viewer
    hostname: viewer
    build:
      context: ./templates/basic/
      target: viewer
    environment:
      # Set basic auth, removed by default
      #XO_BASIC_USER: admin
      #XO_BASIC_PWD: 123456
      # Database ENV
      XO_DB_DRIVER: pgsql
      XO_DB_HOST: browser_db
      XO_DB_PORT: 5432
      XO_DB_USER: postgres
      XO_DB_PASS: 123456789
      XO_DB_NAME: postgresDB
      # Domains configuration (overriding our config files)
      XO_URI: "http://localhost:8080/"
      XO_BROWSER_ANALYSIS: http://localhost:8081/importer/server/analysis.php
    restart: always
    volumes:
      - ./data/:/var/www/data/:rwx
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - browser_db

  # Mirax Importer - data import for our specific use-case, works with browser.
  mirax_importer:
    image: mirax_importer
    container_name: mirax_importer
    hostname: mirax_importer
    build:
      context: ./templates/mirax-importer/
    environment:
      # Set basic auth, enabled by default due to crazy limits
      XO_BASIC_USER: admin
      XO_BASIC_PWD: 123456
      # Database ENV
      XO_DB_DRIVER: pgsql
      XO_DB_HOST: browser_db
      XO_DB_PORT: 5432
      XO_DB_USER: postgres
      XO_DB_PASS: 123456789
      XO_DB_NAME: postgresDB
      XO_MIRAX_SERVER_URL: http://localhost:8081/importer/server/
    restart: always
    volumes:
      - ./data/:/var/www/data/:rwx
      - ../importer/:/var/www/html/timporter/:rwx
      - ../xo_db/:/var/www/html/txo_db/:rwx
    ports:
      - "8081:8081"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - browser_db

  # Postgres service for the browsing system metadata
  browser_db:
    image: postgres:14.1-alpine
    container_name: browser_db
    hostname: browser_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456789
    ports:
      - '5432:5432'
    volumes: 
      - .db/:/var/lib/postgresql/data/
      - ./templates/basic/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
