# Allows specific URLs, we allow 'health'
<If "%{THE_REQUEST} =~ m#^GET /health/#">
    Allow from All
    Satisfy Any

    #We just return HTTP200
    ErrorDocument 200 "health"
    RewriteEngine On
    RewriteRule .* - [R=200]
</If>